sudo: false

language: php

php:
  - 5.5
  - 5.6
  - 7.0
  - hhvm
  
matrix:
  allow_failures:
    - php: hhvm

before_script:
  - composer self-update
  - composer update --prefer-source --dev

script:
  - ./vendor/bin/phpunit --coverage-clover=coverage.clover --group=Coverage
  - ./vendor/bin/phpcs --standard=PSR2 ./src/